<div class="container">
  <p>Ask your coach anything:</p>
  <form action="/answer">
    <div class="input-group mb-3">
      <input type="text" name="question" class="form-control">
      <input type="submit" value="Ask!" class="btn btn-outline-secondary" id="btn">
    </div>
  </form>
</div>
